<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <td colspan="3">Employee Profile
            <i class="icon-edit-icon-white float-right" (click)="toEdit()"></i>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="Myphoto"></div>
            <div class="pull-right">
              <p style="font-size: 14px;margin-top: 28px;"> Oleksa Best </p>
            </div>
          </td>
          <td class="kostil">
              <label style="padding-top: 18px;">date of birth</label>
              <p>XX/XX/XXXX</p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
              <label>job title</label>
              <p>Job Title</p>
          </td>
          <td class="kostil">
              <label>personal mail</label>
              <p>softheme@mail.com</p>
          </td>
          <td>
              <label>work mail</label>
              <p>softheme@mail.com</p>
          </td>
        </tr>
        <tr>
            <td>
                <label>status</label>
                <p><i class="icon-approved-request" style="color:#66EACA;"></i> active</p>
            </td>
            <td class="kostil">
                <label>phone number</label>
                <p>+380987603782</p>
            </td>
            <td>
                <label>skype</label>
                <p>bestuser</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>day in vacation</label>
                <p>22</p>
            </td>
            <td class="kostil">
                <label>hire date</label>
                <p>XX/XX/XXXX - Nowadays</p>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="kostil">
                <label>team name</label>
                <p>team name</p>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="kostil">
            </td>
            <td>
                <button type="button" class="btn-outline-secondary" (click)="onCloseCancel()">CLOSE</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
