<div class="row" style="margin:0;">
    <div class="col-md-5 indentation">

        <div>
            <div style="float: left;">
                <img src="user_profile_icon.svg" class="user-photo" />
            </div>
            <div class="content-right">
                <button type="button" class="btn btn-outline-fiolet">EDIT PHOTO</button>
            </div>
            <div class="content-right upload-btn-wrapper">
                <button class="btn-upload">ADD PHOTO</button>
                <input type="file" name="myfile" />
            </div>
        </div>
        <div style="clear:both;"></div>
        <div>
            <p class="signature">name</p>
            <input class="form-control bg-name-field" placeholder="Enter Name" type="text" value="">
            <p class="signature">surname</p>
            <input class="form-control bg-name-field" placeholder="Enter Surname" type="text" value="">
            <p class="signature">job title</p>
            <select class="select">
                <option selected disabled>Job title</option>                
            </select>
            <p class="signature">status</p>
            <input class="form-control bg-name-field" placeholder="Not Choosen" type="text" value="">
            <p class="signature">days in vacation</p>
            <input class="form-control bg-name-field outlinegradient-left-rigth" placeholder="Not Choosen" type="text" value="">
        </div>
    </div>
    <div class="col-md-7 indentation">
        <div class="row">
            <div class="col">
                <p class="signature">date of birth</p>
                <input type="date" name="bday" class="form-control bg-name-field">
                <p class="signature">personal email</p>
                <input class="form-control bg-name-field" placeholder="Surname" type="email" value="">
                <p class="signature">phone number</p>
                <input class="form-control bg-name-field" placeholder="Not Choosen" type="text" value="">
                <p class="signature">hire date</p>
                <input type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control bg-name-field">
                <p class="signature">team name</p>
                <input class="form-control bg-name-field" placeholder="Not Choosen" type="text" value="">
            </div>
            <div class="col">
                <p class="signature" style="padding-top: 69px">work email</p>
                <input class="form-control bg-name-field" placeholder="Surname" type="email" value="">*@
                <p class="signature">skype</p>
                <input class="form-control bg-name-field" placeholder="Not Choosen" type="text" value="">
                <p class="signature">date of dismissal</p>
                <input type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control bg-name-field">
                <p class="signature">team leader</p>
                <input class="form-control bg-name-field" placeholder="Name" type="text" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p align="center" style="padding-top: 40px">
                    <a class="btn btn-lg bg-button-cancel align-content-md-center " href="#" role="button">CANCEL</a>
                </p>
            </div>
            <div class="col-6">
                <p align="center" style="padding-top: 40px">
                    <input type="submit" class="btn btn-lg align-content-md-center bg-button-gradient" value="SEND REQUEST" />
                </p>
            </div>
        </div>
    </div>
</div>