<div class="container">
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <td colspan="3"> Edite Profile</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="user-photo float-left" style="background:url({{imgUrl}}) no-repeat 0px 0;background-size: auto 90px;">
              <img src="{{imgUrl}}" height="30" width="30"/>
              </div>
              <label for="file">ADD PHOTO</label>
              <input type="file" id="file"
              (change)="handleFileInput($event.target.files)">
            </td>
            <td class="kostil">
              <label for="bday">date of birth</label>
              <input type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control bg-name-field" [(ngModel)]="employee.Birthday">
            </td>
            <td>
              <label for="rol">Role</label>
              <select [(ngModel)]="employee.RoleId" class="form-control" id="rol">
                <option *ngFor="let item of employeeRoles " [value]="item.Id">
                  {{item.Name}}
                </option>
              </select> 
            </td>
          </tr>
          <tr>
            <td>
              <label for="usr">name</label>
              <input type="text" class="form-control" id="usr" [(ngModel)]= "employee.Name">
            </td>
            <td class="kostil">
              <label for="email">personal mail</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="employee.PersonalEmail">
            </td>
            <td>
              <label for="em">work mail</label>
              <input type="email" class="form-control" id="em" [(ngModel)]="employee.WorkEmail">
            </td>
          </tr>
          <tr>
            <td>
              <label for="srnm">surname</label>
              <input type="text" class="form-control" id="srnm" [(ngModel)]="employee.Surname">
            </td>
            <td class="kostil">
              <label for="phnmbr">phone number</label>
              <input type="text" class="form-control input-medium bfh-phone" data-format="+380 (dd) ddd-dd-dd" id="phnmbr" [(ngModel)]="employee.TelephoneNumber">
            </td>
            <td>
              <label for="skp">skype</label>
              <input type="text" class="form-control" id="skp" [(ngModel)]="employee.Skype">
            </td>
          </tr>
          <tr>
            <td>
              <label for="sel1">job title:</label>
              <select  [(ngModel)]="employee.JobTitleId" class="form-control" id="sel1">
                  <option *ngFor="let item of jobTitles" [value]="item.JobTitleId">
                      {{item.Name}}
                  </option>
              </select>
            </td>
            <td class="kostil">
              <label for="bday">hire date</label>
              <input type="date" name="bday" min="2000-01-01" max="3000-12-31" class="form-control bg-name-field" [(ngModel)]="employee.StartDate" >
            </td>
            <td>
              <label for="bday">date disminssal</label>
              <input type="date" name="bday" min="2000-01-01" max="3000-12-31" class="form-control bg-name-field" [(ngModel)]="employee.EndDate ">
            </td>
          </tr>
          <tr>
            <td>
              <label for="sel1">status:</label>
              <select  class="form-control" id="sel1" [(ngModel)]="employee.EmployeeStatusId">
                <option *ngFor="let item of employeeStatuses" [value]="item.EmployeeStatusId">
                  {{item.Name}}
              </option>
              </select>
            </td>
            <td class="kostil">
              <label for="tnm">team name</label>
              <select  [(ngModel)]="employee.TeamId" class="form-control" id="tnm">
                  <option *ngFor="let item of teams" [value]="item.TeamId">
                      {{item.Name}}
                  </option>
              </select>
            </td>
            <td>
              <label for="tnml">team leader</label>
              {{employee.TeamLead}}
              <input class="form-control" id="tnml" readonly style="color: #b8b8b8; box-shadow: none;"  [(ngModel)]="employee.TeamLead">
            </td>
          </tr>
          <tr>
            <td>
              <label for="sel1">day in vacation:</label>
              <input type="number" class="form-control" id="sel1" [(ngModel)]="employee.Balance">
            </td>
            <td class="kostil">
              <button type="button" class="btn btn-outline-secondary float-right" (click) = "cancel()">CANCEL</button>
            </td>
            <td>
              <button type="submit" class="btn btn-outline-secondary" (click) = "Save()">Save Changes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
