<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <td colspan="3"> Edite Profile</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="../../../../assets/user profile icon.svg" class="user-photo float-left" />
            <button type="button" class="btn btn-outline-primary float-right ">ADD PHOTO</button>
          </td>
          <td class="kostil">
            <label for="bday">date of birth</label>
            <input type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control bg-name-field" placeholder="XX/XX/XXXX">
          </td>
          <td>
            <label for="rol">Role</label>
            <select class="form-control" id="rol" placeholder="Role">
              <option>Employee</option>
              <option>Admin</option>
              <option>Team Leader</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="usr">name</label>
            <input type="text" class="form-control" id="usr" placeholder="Name">
          </td>
          <td class="kostil">
            <label for="email">personal mail</label>
            <input type="email" class="form-control" id="email" placeholder="example@mail.com">
          </td>
          <td>
            <label for="em">work mail</label>
            <input type="email" class="form-control" id="em" placeholder="example@mail.com">
          </td>
        </tr>
        <tr>
          <td>
            <label for="srnm">surname</label>
            <input type="text" class="form-control" id="srnm" placeholder="Surname">
          </td>
          <td class="kostil">
            <label for="phnmbr">phone number</label>
            <input type="text" class="form-control input-medium bfh-phone" data-format="+380 (dd) ddd-dd-dd" id="phnmbr" placeholder="+380 00 000 00 00">
          </td>
          <td>
            <label for="skp">skype</label>
            <input type="text" class="form-control" id="skp" placeholder="Skype">
          </td>
        </tr>
        <tr>
          <td>
            <label for="sel1">job title:</label>
            <select class="form-control" id="sel1" placeholder="Job Title">
              <option>Senior</option>
              <option>Junior</option>
              <option>I am best of the best</option>
              <option>luzer</option>
            </select>
          </td>
          <td class="kostil">
            <label for="bday">hire date</label>
            <input type="date" name="bday" min="2000-01-01" max="3000-12-31" class="form-control bg-name-field" placeholder="XX/XX/XXXX">
          </td>
          <td>
            <label for="bday">date disminssal</label>
            <input type="date" name="bday" min="2000-01-01" max="3000-12-31" class="form-control bg-name-field" placeholder="Not Choosen">
          </td>
        </tr>
        <tr>
          <td>
            <label for="sel1">status:</label>
            <select class="form-control" id="sel1">
              <option>Active</option>
              <option>Non Active</option>
            </select>
          </td>
          <td class="kostil">
            <label for="tnm">team name</label>
            <select class="form-control" id="tnm">
              <option>Team Name</option>
            </select>
          </td>
          <td>
            <label for="tnml">team leader</label>
            <input class="form-control" value="Oleksa" id="tnml" readonly style="color: #b8b8b8; box-shadow: none;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="sel1">day in vacation:</label>
            <input type="number" class="form-control" id="sel1" placeholder="">
          </td>
          <td class="kostil">
            <button type="button" class="btn btn-outline-secondary float-right" (click) = "cancel()">CANCEL</button>
          </td>
          <td>
            <button type="submit" class="btn btn-outline-secondary">Save Changes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
