<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td class="table-dark" colspan="4">My Vacations</td>        
      </tr>
    </thead>
    <thead>
      <tr class="text-muted">
        <td>vacation dates</td>
        <td>description</td>
        <td>status</td>
        <td>vacation balance</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vac of vacations">
        <td> 
          {{vac.StartVocationDate | date:'dd/MM/yy' }} - {{vac.EndVocationDate | date:'dd/MM/yy'}} 
        </td>
        <td class="text-muted " > Vacation </td>
        <td style="color:rgb(19, 164, 72);"> Approved</td>
        <td style="text-align: center"> {{ GetVacationBal(vac.EndVocationDate, vac.StartVocationDate)}}  </td>
      </tr>
    </tbody>
  </table>
</div>
