.form-group {
    margin-bottom: 0em;
    margin-top: 1em;
}

.form-control {
    padding-left: 20px;
    border-radius: 4px;
    background-color: #2E2E2E;
    color: white;
    outline: none;
    border: 1px solid #dee2e6;
}

.user-photo{
    border-radius: 50%;
  }

p {
    font-family: Muli-Bold;
    color: grey;
}

.myp {
    margin-top: 8px;
    margin-bottom: 1rem;
    margin-left: 15px;
}

.bottominformation {
    border-top: 1px solid #dee2e6;
    padding-top: 20px;

}
