<div class="comp-container">
  <h3>Vacation Request</h3>

  <div class="details">
    <div class="topuser">
      <div class="Myphoto"></div>
      <div class="pull-right">
        <p style="font-size: 14px;"> {{employee.Name}} {{employee.Surname}}
          <br> {{employee.JobTitle}}
          <br> {{employee.TeamName}} - {{employee.TeamLeadName}}
        </p>
      </div>
    </div>
    <form>
      <div class="left">
        <div class="form-group">
          <label>vacation type</label>
          <p> Vacation </p>
        </div>
        <div class="form-group">
          <label>comment</label>
          <p *ngIf="emplVacation.Comment; else comment" >{{emplVacation.Comment}}
          </p>
        </div>
      </div>
      <div class="right">
        <div class="form-group">
          <label for="from">from</label>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose date"
            [(ngModel)]="emplVacation.StartVocationDate" [value]="emplVacation.StartVocationDate | date:'yyyy-MM-dd'"
            name="startDate" (ngModelChange)="calculateDate()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="picker1">to</label>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Choose date"
            [(ngModel)]="emplVacation.EndVocationDate" [value]="emplVacation.EndVocationDate | date:'yyyy-MM-dd'"
            name="endDate" (ngModelChange)="calculateDate()">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="am">amount</label>
          <div class="row col-12">
            <div class="row col-12">
              <input type="text" class="form-control" id="am" style="width: 35%; text-align: center; height: 35px;" readonly [value]="dateDiff">             
              <div class="myp">days in vacation</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
    <div class="bottominformation">
      <h6>Answer The Request</h6> 
      <mat-radio-group  [(ngModel)]="emplVacation.VacationStatusId">
        <mat-radio-button style="color: lime;" [value]="vacStatuses[2].VacationStatusId"> Approve </mat-radio-button>
        <mat-radio-button class="refuse" style="margin-left:12em; color: red;" [value]="vacStatuses[1].VacationStatusId"> Refuse</mat-radio-button>
      </mat-radio-group>
      <div class="form-group">
        <label for="comment">comment</label> {{emplVacation.TransactionComment}}
        <textarea class="form-control" rows="5" id="comment" style="margin-top: 0px; margin-bottom: 0px; height: 50px;" [(ngModel)]="emplVacation.TransactionComment"></textarea>
      </div>
      <mat-dialog-actions>
        <button class="btn btn-outline-secondary btncancel" md-raised-button (click)="onCloseConfirm()">CANCEL</button>&nbsp;
        <button class="btn  btn-outline-secondary btnanswer" md-raised-button (click)="onCloseCancel()">ANSWER</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>

<ng-template #comment> <br> ____   </ng-template>
<ng-template #count> XX </ng-template>
