<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <td colspan="3"> Edite Profile</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="usr">team name</label>
            <input type="text" class="form-control" id="usr" placeholder="Enter Team Name">
          </td>
          <td colspan="2" class="kostil">
            <label for="em">members</label>
            <input type="text" class="form-control" id="em" placeholder="Enter The Name">
          </td>
        </tr>
        <tr>
          <td>
            <label for="srnm">team leader</label>
            <input type="text" class="form-control" id="srnm" placeholder="Enter The Name">
          </td>
          <td class="kostil">
              <button type="button" class="btn btn-outline-secondary float-right">CENSEL</button>
          </td>
          <td>
              <button type="submit" class="btn btn-outline-secondary">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
