div.body {
    height: 100vh;
    background-image: url('../../assets/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 

    div.logo {
        text-align: center;
        color: #fff;
    
        div {
            font-size: 45px;
        }
    
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 23px;
            font-family: Muli-Bold;
    
            span {
                font-family: Muli-Light;
            }
        }
    }

    div.main {
        width: 350px;
        height: 547px;
    
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}