<div class="bestcontainer">
  <div class="row">
    <div class="myrow">
      <p> Team Profile
        <i class="icon-edit-icon-white float-right"></i>
      </p>
    </div>
    <div class="container col-6 left">
      <div class="form-group">
        <label>team name</label>
        <p>Team Name</p>
      </div>
      <div class="form-group">
        <label>team leader</label>
        <p>
          <i class="icon-user-profile-icon"></i>
          Team Leader
          <i class="icon-approved-request active"></i>
        </p>
      </div>
    </div>
    <div class="container col-6 right">
      <div class="form-group">
        <label>members</label>
        <p>Name Surname
          <i class="icon-approved-request active"></i>
        </p>
      </div>
      <div class="form-group">
        <p>Name Surname
          <i class="icon-approved-request active"></i>
        </p>
      </div>
      <div class="form-group">
        <p>Name Surname
          <i class="icon-approved-request active"></i>
        </p>
      </div>
      <div class="form-group">
        <p>Name Surname
          <i class="icon-approved-request active"></i>
        </p>
      </div>
      <div class="form-group">
        <p>Name Surname
          <i class="icon-approved-request active"></i>
        </p>
      </div>
    </div>
  </div>
</div>
