<div class="container navbar-container">
  <!-- top nav -->
  <nav class="navbar navbar-expand-lg">

    <!-- brand name -->
    <div class="logo">
      <i class="icon-logo-softheme float-left"></i>
      <h1>Softheme
        <span>Vacations</span>
      </h1>
    </div>

    <!-- end brand name -->

    <button class="navbar-toggler example-popover" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/profile']" routerLinkActive="profile">
            <span>My Profile</span>
            <div></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/request-vacation']" routerLinkActive="request-vacation">
            Request Vacation
            <div></div>
          </a>
        </li>
      </ul>
    </div>
    <p>Team Leader </p>
    <div class="float-right user-dropdown">
      <button class="rounded-circle user-photo" style="background: url() no-repeat 0px 0;background-size: auto 60px; border: none; outline: none;">
        <img src="{{imgUrl}}" (click)="viewdiv('mydiv');" style="border-radius:50%; height:30px; width:30px;" />
        <div class="speech-bubble" id="mydiv" style="display:none;">
          <a class="nav-link" style="font-family: Muli-Bold; font-size: 14px;" (click)="logout();"><i class="icon-logout-icon" style="padding-right: 8px;"></i> Log Out </a>
        </div>
      </button>
    </div>
  </nav>
  <!-- end top nav -->
</div>
