<div class="container navbar-container">
  <!-- top nav -->
  <nav class="navbar navbar-expand-lg">

    <!-- brand name -->
    <div class="logo">
      <i class="icon-logo-softheme float-left"></i>
      <h1>Softheme
        <span>Vacations</span>
      </h1>
    </div>

    <!-- end brand name -->

    <button class="navbar-toggler example-popover" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/main']" routerLinkActive="profile" >
            <span>My Profile</span>
            <div></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/main/request-vacation']" routerLinkActive="request-vacation">
            Request Vacation
            <div></div>
          </a>
        </li>
      </ul>
    </div>
    <p>Team Leader </p>
    <div class="float-right user-dropdown">
      <button class="rounded-circle user-photo " style="background: url() no-repeat 0px 0;background-size: auto 60px;">
        <img src="{{imgUrl}}" height="30" width="30"/>
      </button>
    </div>
  </nav>
  <!-- end top nav -->
</div>
