.container{
    width: 540px;   
        .table{
            background-color:rgba(192, 192, 192, 0.1);
            font-size: 14px;       
            color: white;
            border: 1px solid white;
            border-radius: 15px !important;
            
    .mytopborder {                
        td{
             border-top: none;  
             background-color: #222222;  
             font-size: 16px;             
            }
        }
    } 
}


