.container{
    .table-responsive{
        .table{
            background-color:rgba(192, 192, 192, 0.1);
            width: 540px;            
            color: white;
            border: 1px solid #878787;   
            border-radius: 10px;
            
            .mytopborder {                
                td{
                    border-top: none;  
                    background-color: #222222;  
                    font-size: 20px;             
                }
            }
        } 
    }
}

