.container{
    .table-responsive{
        .table{
            background-color:rgba(192, 192, 192, 0.1);
            width: 750px;
            border-radius: 15px;
            color: white;
        } 
    }
}

