<div class="container">
  <div class="table-responsive">
    <table class="table table-inverse table-bordered-vertical">
      <thead>
        <tr>
          <td>My Vacations</td>
        </tr>
      </thead>
      <thead>
        <tr class="text-muted">
          <td>vacation dates</td>
          <td>description</td>
          <td>status</td>
          <td>vacation balance</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>XX/XX/XX - XX/XX/XX</td>
          <td class="text-muted">Vacation</td>
          <td style="color:rgb(19, 164, 72);">Approved</td>
          <td>XX days</td>
        </tr>
        <tr>
          <td>XX/XX/XX - XX/XX/XX</td>
          <td class="text-muted">Vacation</td>
          <td style="color:red;">Denied</td>
          <td>XX days</td>
        </tr>
        <tr>
          <td>XX/XX/XX - XX/XX/XX</td>
          <td class="text-muted">Vacation</td>
          <td style="color:green;">Approved</td>
          <td>XX days</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>