<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td class="table-dark" colspan="5">List of Employees</td>
      </tr>
    </thead>
    <thead>
      <tr class="text-muted">
        <td>name</td>
        <td>phone number</td>
        <td>work email</td>
        <td>vacation balance</td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empl of employees">
        <td>{{empl.Name}} {{empl.Surname}} </td>
        <td class="text-muted"> {{empl.TelephoneNumber}} </td>
        <td class="text-muted"> {{empl.WorkEmail}} </td>
        <td> {{empl.Balance}}
          <div class="myi">
            <img src="../../../../assets/eye.svg">
            <button class="pull-right" (click)="toEdit()">
              <i class="icon-edit-icon-white"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
