.container {
    padding-top: 10px;
    color: #222222;
    width: 100%;
    .table {
        background-color: rgba(192, 192, 192, 0.1);
        font-size: 14px;
        color: white;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
        /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 1px #666;
        /* this draws the table border  */
        text-align: center;
        td {
            width: 18%;
        }
        .table-dark {
            text-align: left;
            border-top: 0;
            border-radius: 10px 10px 0 0;
        }
        .myi {
            float: right;
            i {
                padding-left: 10px;
            }
        }
        button {
            width: 20px;
            height: 20px;
            border: 0;
            background-color: #333333;          
        }
    }
}
