<form class="login-form">
  <div class="input-container">
    <p>Please enter and confirm new password!</p>
    <div class="input-group mb-3">
      <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="userInfo.Password" >
      <div>
        <i class="icon-password-icon"></i>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" name="password" placeholder="confirm password">
      <div>
        <i class="icon-password-icon"></i>
      </div>
    </div>
  </div>
  <button type="submit" #buttonSubmit class="btn btn-primary btn-block" (click) = "Send()" >confirm</button>
</form>
