<div class="body">
  <div class="main container">
    <div class="row">
      <div class="col-12">
        <div class="logo">
          <div>
            <i class="icon-logo-softheme"></i>
          </div>
          <h1>Softheme
            <span>Vacations</span>
          </h1>
        </div>
        <h4>Enter your email address and we'll send<br>
           you a link to reset your password</h4>
        <form class="login-form">
          <div class="input-container">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="example@softheme.com">
              <div>
                <i class="icon-user-icon"></i>
              </div>
            </div>
          </div>
          <h4 style="color: aqua"> Readly! Check your email? please</h4>
          <button type="submit" #buttonSubmit class="btn btn-primary btn-block">Send</button>
          <button type="button" class="btn btn-link btn-block">Never mind. I remember</button>
        </form>
      </div>
    </div>
  </div>
</div>