<div class="container">
  <table class="table " style=" max-height: 80vh; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;" >
    <thead>
      <tr>
        <td class="table-dark" colspan="5">List of Vacation Requests</td>
      </tr>
    </thead>
    <thead>
      <tr class="text-muted">
        <td>name</td>
        <td>team</td>
        <td>vacation dates</td>
        <td>amount of days</td>
        <td>vacation balance</td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vac of vacations"  (click)="openDialog(vac.VacationId)">
          <td class="text-muted"> {{vac.EmployeeName}} {{vac.EmployeeSurname}} </td>
          <td class="text-muted"> {{vac.TeamName}} </td>
          <td> 
            {{vac.StartVocationDate | date:'dd/MM/yy' }} - {{vac.EndVocationDate | date:'dd/MM/yy'}} 
          </td>
          <td class="text-muted"> 
              {{DaysInVac(parseDate(vac.StartVocationDate), parseDate(vac.EndVocationDate))}}
          <td>{{vac.EmployeeBalance}}
               <i [ngClass]="{
                 'icon-approved-request': true, 
                 'approved': vac.VacationStatusName == 'Approved', 
                 'cancel': vac.VacationStatusName == 'Denied', 
                 'procces': vac.VacationStatusName == 'InProcess'
                }">
              </i>
            </td>
        </tr>
    </tbody>
  </table>
</div>
