<div class="container">
  <table class="table table-responsive" style=" max-height: 80vh; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;"  (click)="openDialog()">
    <thead>
      <tr>
        <td class="table-dark" colspan="5">List of Vacation Requests</td>
      </tr>
    </thead>
    <thead>
      <tr class="text-muted">
        <td>name</td>
        <td>team</td>
        <td>vacation dates</td>
        <td>amount of days</td>
        <td>vacation balance</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name Surname</td>
        <td class="text-muted">Team Name</td>
        <td class="text-muted">XX/XX/XX-XX/XX/XX</td>
        <td class="text-muted">XX</td>
        <td>XX days
          <i class="icon-approved-request cancel"></i>
        </td>
      </tr>
      <tr>
        <td>Name Surname</td>
        <td class="text-muted">Team Name</td>
        <td class="text-muted">XX/XX/XX-XX/XX/XX</td>
        <td class="text-muted">XX</td>
        <td>XX days
          <i class="icon-approved-request procces"></i>
        </td>
      </tr>
      <tr>
        <td>Name Surname</td>
        <td class="text-muted">Team Name</td>
        <td class="text-muted">XX/XX/XX-XX/XX/XX</td>
        <td class="text-muted">XX</td>
        <td>XX days
          <i class="icon-approved-request approved"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
