<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="logimage">
        <img [src]=logoUrl>
      </div>
      <h1>Softheme
        <span class="span">Vacations</span>
      </h1>
      <form class="login-form" (submit)="login()">
        <div class="input-container">
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="email">
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="password">
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-primary btn-block">log in</button>
          <button type="button" class="btn btn-link btn-block">forgot password?</button>
        </div>
      </form>
    </div>
  </div>
</div>