<div class="container">
  <table class="table table-responsive" style=" max-height: 80vh; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">
    <thead>
      <tr>
        <td class="table-dark" colspan="5">List of Teams</td>
      </tr>
    </thead>
    <thead>
      <tr class="text-muted">
        <td>team name</td>
        <td>team leader</td>
        <td>amount of employees</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Team Name</td>
        <td class="text-muted">Name Surname</td>
        <td class="text-muted">XX</td>
        <td>
          <div class="myi">
            <img src="../../../../assets/eye.svg">
            <i class="icon-edit-icon-white icon"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
