<div class="comp-container">
  <h3>My profile
    <button class="pull-right" (click) = "toEdit()">
      <i class="icon-edit-icon-white"></i>
    </button>
  </h3>
  <div class="main-details">
    <div class="pull-left">
      <button class="rounded-circle">
        <i class="icon-user-icon"></i>
      </button>
    </div>
    <div class="pull-left main-details-text" *ngIf="employee; else loading">
        <h3>
          <p> {{ employee.Name }} </p>
          <p> {{ employee.Surname}} </p>
        </h3>
      <h4 *ngIf="employee.JobTitle; else jobTitle"> {{employee.JobTitle}} </h4>
      <div class="status">
        <i class="icon-approved-request active"></i> {{employee.EmployeeStatus}} </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="details">
    <dl>
      <dt>date of birth</dt>
      <dl> <p *ngIf="employee.Birthday; else birthday"> {{ employee.Birthday | date:'mediumDate' }} </p> 
      </dl>

      <dt>personal email</dt>
      <dl> 
        <p *ngIf="employee.WorkEmail; else PersEmail">
            {{ employee.PersonalEmail}}
        </p>
      </dl>

      <dt>work email</dt>
      <dl>
          <p *ngIf="employee.WorkEmail; else workEmail">
              {{ employee.WorkEmail}}
          </p>
      </dl>

      <dt>phone number</dt>
      <dl> 
        <p *ngIf="employee.TelephoneNumber; else phone">
            +{{employee.TelephoneNumber}}
        </p>
      </dl>

      <dt>skype</dt>
      <dl>
        <p>
            {{employee.Skype}}
        </p>
      </dl>

      <dt>hire date</dt>
      <dl>
        <p *ngIf="employee.StartDate; else workDate">
            {{employee.StartDate | date:'mediumDate' }} - {{employee.EndDate | date:'mediumDate'}} 
        </p>
      </dl>

      <dt>team name</dt>
      <dl>
        <p *ngIf="employee.TeamName; else team">
            {{employee.TeamName}} 
        </p>
      </dl>

      <dt>team leader</dt>
      <dl>
        <p *ngIf="employee.TeamLead; else teamLead">
            {{employee.TeamLead}} 
        </p>
      </dl>
    </dl>
  </div>
</div>

<ng-template #loading>Long Loading...</ng-template>
<ng-template #jobTitle>Job Title</ng-template>

<ng-template #birthday>XX Month XXXX</ng-template>
<ng-template #PersEmail>example@mail.com</ng-template>
<ng-template #workEmail>example@softheme.com</ng-template>
<ng-template #phone>+380 00 000 00 00</ng-template>
<ng-template #skypeEX>userskype</ng-template>
<ng-template #workDate>XX Month XXXX - Nowadays</ng-template>
<ng-template #team>Team name</ng-template>
<ng-template #teamLead>Name Surname</ng-template>
