.form-control {
    padding-left: 20px;
    border-radius: 4px;
    background-color: #2E2E2E;
    color: white;
    outline: none;
    border: 1px solid #dee2e6;
}

p {
  margin-top: 13px;
  margin-bottom: 1rem;
  margin-left: 15px;
}