<div class="comp-container">
  <h3>Vacation Request</h3>

  <div class="details">
    <form>
      <div class="left">
        <div class="form-group">
          <label for="vacation_type">vacation type</label>
          <select class="form-control" id="vacation_type">
            <option>Not Choosen</option>
            <option>Vacation</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="vacation.Comment"></textarea>
        </div>
        <button class="btn btn-outline-secondary" style="width: 60%; float: right;" (click)="cancel()">CANCEL</button>
      </div>
      <div class="right">
        <div class="form-group">
          <label for="from">from</label>
          <input type="date" min="2000-01-01" max="3000-12-31" class="form-control bg-name-field" id="from"  [(ngModel)]="vacation.StartVocationDate" >
        </div>
        <div class="form-group">
          <label for="to">to</label>
          <div class="conteiner" style="color:white; border: 1px solid #dee2e6;; border-radius: 4px; padding-left: 10px;">
           <!-- <mat-form-field>
              <input matInput [matDatepicker]="picker" [(ngModel)]="vacation.EndVocationDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" ></mat-datepicker>
            </mat-form-field> -->
            <input type="date" min="2000-01-01" max="3000-12-31" class="form-control bg-name-field" id="from"  [(ngModel)]="vacation.EndVocationDate" >
          </div>
        </div>
        <div class="form-group">
          <label for="am">amount</label>
          <div class="row col-12"> 
              {{vac.StartVocationDate | date:'dd/MM/yy' }} 
            {{(ParseToDate(vacation.EndVocationDate)-ParseToDate(vacation.StartVocationDate)) /1000/60/60/24}} 
            <input type="text" class="form-control" id="am" style="width: 30%; text-align: center;"  (click)="DaysInVac(vacation.StartVocationDate, vacation.EndVocationDate)">
            <p>days in vacation </p>
          </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="Send()">SEND REQUEST</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
